<div class="row justify-content-center align-items-center">
  <h1 class="text-center">My Movies</h1>
  <%= link_to 'new movie', new_movie_path, class: 'btn btn-success' %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Movie Poster</th>
      <th scope="col">Movie Name</th>
      <th scope="col">Category Name</th>
      <th scope="col">User Ratings</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
    <tr>
      <td><%= image_tag movie.small if movie.image.attached? %></td>
      <td><%= movie.title %></td>
      <td><%= movie.category.name %></td>
      <td><%=  %></td>
      <td>
        <%= link_to 'view', movie_path(movie) %>
        <%= link_to 'edit', edit_movie_path(movie) %>
        <%= link_to 'delete', movie_path(movie), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
